.main-container{
    width: 98%;
    text-align: center;
    margin: 1%;
    .parent-borders{
        margin: 5px 0px;
        border: solid 1px rgb(165, 165, 165);
    }
}
.cards-container{
    display: block;
    text-align: center;
}

